<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465701420614-006480utbh9mvsubvmv398qrt0hbee1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465701420614-006480utbh9mvsubvmv398qrt0hbee1i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465701420614-0iu68tn08mu3svmah39o05c3lhk1jrrd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCrFgTiOSTY2xz--OUtt21A4fvmcd61hg</string>
	<key>GCM_SENDER_ID</key>
	<string>465701420614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.edu.CHMD1</string>
	<key>PROJECT_ID</key>
	<string>chmd-1cac4</string>
	<key>STORAGE_BUCKET</key>
	<string>chmd-1cac4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465701420614:ios:4f090869031a3d6f8c1447</string>
	<key>DATABASE_URL</key>
	<string>https://chmd-1cac4.firebaseio.com</string>
</dict>
</plist>